
*{
  font-family: 'Times New Roman', Times, serif;
  
}
body{
background-color: 	#424242;
  padding: 20px;

}

#main-div{
  border-radius: 25px;
  margin: auto;
  height:90vh;
  width:70%;
  border: 1px solid black;
  background-color: 	#F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container2{

  margin: 1%;
  border-radius: 25px;
  height: 25vh;
  width: 99%;
  background-color: #229799;
  border: 1px solid black;
  transition: transform.2s;
}
.container2:hover{
  transform: scale(1.1);
  background-color: #229799;
  border: 2px solid black;
}
